@{
    ViewData["Title"] = "Home Page";
}

<style>
        body {
            background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/videoblocks-portrait-of-smiling-male-college-student-in-busy-communal-campus-building_s-zrzm3vi_thumbnail-1080_01.png");
            background-size: cover;
            background-position: center;
        }



    </style>
<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    
   <marquee><h>Student Record</h></marquee> <h>Student Record</h>
   
</div>
