<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    
</head>
<style>.text-blue {
    color: blue;
}
</style>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum urna at leo venenatis, at bibendum dui eleifend. Proin efficitur justo nec felis auctor, id commodo odio fringilla. Aenean commodo sem eget turpis posuere, et iaculis mauris consequat.</p>
        <p>Phasellus fringilla congue nunc. Aliquam ac rutrum mauris. Mauris sodales, mauris a efficitur interdum, lorem felis cursus odio, euismod consequat elit arcu id nisi. Donec ac condimentum odio. Curabitur aliquet orci a ligula semper, eget consectetur dolor tincidunt. Sed rutrum dictum tortor, at tempus tortor rutrum eu.</p>
        <p>Nulla id ex a purus efficitur auctor vitae id nunc. Sed interdum nibh ut ipsum elementum, non aliquam enim efficitur. Praesent rhoncus libero at ex aliquam, non bibendum elit lobortis. Etiam sagittis consequat leo, et interdum enim aliquet vitae.</p>
        <p>Curabitur eu nunc interdum, vestibulum purus at, lobortis felis. Vivamus id ipsum ut tortor consequat laoreet nec vitae ex. Phasellus dignissim congue sem, non viverra ligula cursus a. Nulla et consequat purus, a tristique odio. Aliquam sagittis ligula nec quam lacinia hendrerit.</p>
        <p>Donec mollis iaculis ullamcorper. Ut congue malesuada felis a malesuada. Cras ac nunc id tellus cursus feugiat. Suspendisse eget vestibulum purus. Sed semper vestibulum mauris, in mattis leo convallis eu. Etiam pellentesque iaculis nulla, ac molestie purus eleifend ut.</p>
        <p>
              <a class="nav-link text-blue" asp-area="" asp-controller="Home" asp-action="ContactUs">
                               <i class="bi bi-telephone">  Contact Us</i></a>

        </p>
    </div>
</body>
</html>
