@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
        body {
            background-image: url("https://dnewpydm90vfx.cloudfront.net/wp-content/uploads/2021/06/Privacy-by-design-e-by-default-in-azienda.jpg");
            background-size: cover;
            background-position: center;
        }
    </style>
<div class="container" >
        

        <p style="color: #af0b2b">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec finibus justo. Aliquam erat volutpat. Ut viverra orci sed diam gravida gravida. Mauris accumsan aliquet risus, ac condimentum leo dignissim non. Vivamus hendrerit pharetra ante, et tincidunt justo commodo non. Nulla quis purus aliquet, convallis felis non, interdum est. Nullam et aliquam enim. Nullam a fringilla tortor.</p>

        <p style="color: ##af0b2b">Sed vitae neque lacus. Nulla facilisi. Sed et urna eu ligula auctor malesuada. Morbi auctor purus ipsum, vitae luctus erat semper ut. Sed vitae nibh enim. Vivamus in turpis vel orci ullamcorper volutpat vel a lectus. Ut tristique facilisis odio in elementum.</p>

        <p style="color: #d220c3;">Proin maximus tellus nec metus euismod, sit amet aliquam nulla interdum. Nam et semper nulla. Fusce convallis, nisi sit amet fringilla consectetur, purus mauris dapibus sem, sit amet vulputate arcu est ut purus. Praesent dignissim consectetur mi, ut pulvinar urna efficitur at. Morbi sit amet ullamcorper elit, eget volutpat nisi. Quisque a magna ipsum. Aliquam ut est leo. Morbi a ultrices lorem, id dignissim felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc pharetra faucibus est, a egestas dui bibendum at.</p>
    </div>
