@model Student


<form method="post">
    <div class="row pb-2 ">
        <h2 class="text-dark align-content-center">Create student</h2>

    </div>
     
    <div class="mp-3 row p-1">
        <lable asp-for="name" class="p-0">Student Name</lable>
        <input asp-for="name" type="text" class="form-control" />
    </div>

    <div class="mp-3 row p-1">
        <lable asp-for="dept" class="p-0">Student Department</lable>
        <input asp-for="dept" type="text" class="form-control" />
    </div>

    <div class="row">

        <div class="col-6 col-md-3 ">
            <button type="submit"class="btn btn-primary form-control ">Create</button>
        </div>
        <div class="col-6 col-m-3">
            <a asp-controller="Student" asp-action="" class="btn btn-outline-secondary form-control">Back To list</a>
        </div>
    </div>
    
    


</form>

